.navbar-default {
    background-color: black;
    border-radius: 0;
}

.navbar-default img {
    height: 61px;
}

.navbar-default .container-fluid .navbar-text {
    color: white;
    position: absolute;
    margin-top: 0;
    margin-bottom: 1rem;
    right: 15px;
    top: 29px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.fonts {
  font-family: serif;
}

#background {
    background-image: url('https://assets.about.me/background/alexbelyakov_1331935331_55.jpg');
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    font-weight: bold;
}

#app-container {
    background-image: url('https://assets.about.me/background/alexbelyakov_1331935331_55.jpg');
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

#app-container #signup {
    position: relative;
    margin: auto;
    max-width: 400px;
    width: 400px;
    top: 40px;
    background-color: rgba(0, 0, 0, 0.63);
}

#app-container #signup h1 {
    text-align: center;
    font-size: 2rem;
    opacity: 1;
    color: white;
    font-family: serif;
    padding: 10px;
}

div#signup_form_container {
    padding: 15px;
}


div#signup_form_container label {
    position: absolute;
    width: 200px;
    color: red;
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 24px;
    display: inline-block;
    margin-bottom: .5rem;
}

#signup_form_container .input-group {
    padding-bottom: 10px;
}

#submit_button_container {
    text-align: center;
}

#table-row, #table-col, #table-wrapper {
    height: 80%;
}
